@media screen and (max-width: 2709px) {
  #main {
    height: 1452px!important;
  }
}
@media screen and (max-width: 2560px) {
  #main {
    height: 1357px!important;
  }
}
@media screen and (max-width: 2395px) {
  #main {
    height: 1271px!important;
  }
}
@media screen and (max-width: 2245px) {
  #main {
    height: 1213px!important;
  }
}
@media screen and (max-width: 2140px) {
  #main {
    height: 1135px!important;
  }
}
@media screen and (max-width: 2000px) {
  #main {
    height: 1045px!important;
  }
}
@media screen and (max-width: 1843px) {
  #main {
    height: 994px!important;
  }
}
@media screen and (max-width: 1770px) {
  #main {
    height: 959px!important;
  }
}
@media screen and (max-width: 1700px) {
  #main {
    height: 923px!important;
  }
}
@media screen and (max-width: 1650px) {
  #main {
    height: 893px!important;
  }
}
@media screen and (max-width: 1598px) {
  #main {
    height: 970px!important;
  }
}
@media screen and (min-width: 1200px) {
  #features #features-container #feature-leaves-2 {
    left: 278px;
  }
  #find .find-many-leaves {
    left: 474px;
  }
}
@media screen and (min-width: 1600px) {
  #main {
    background-size: 100%;
  }
  #stock .slick-next {
    right: calc(50% - 330px) !important;
  }
  #stock .slick-prev {
    left: calc(50% - 333px) !important;
    z-index: 5;
  }
}
/*1200 - 1599*/
@media screen and (min-width: 1270px) {
  #features #features-container #feature-leaves-2 {
    left: 263px;
  }
  #features #features-container .feature:nth-child(2) {
    margin-left: -10px;
  }
  #features #features-container .feature:nth-child(4) {
    margin-left: -10px;
  }
  #finds .find-many-leaves {
    left: 456px;
  }
  #stock .slick-next {
    right: 398px;
  }
  #stock .slick-prev {
    left: 395px;
  }
  #thanks-reservation #thanks-reservation-container {
    width: 1000px;
    height: 535px;
    background-position: -27px -28px;
  }
  #stock .slick-next {
    right: calc(50% - 330px) !important;
  }
  #stock .slick-prev {
    left: calc(50% - 333px) !important;
    z-index: 5;
  }
}
@media screen and (min-width: 1200px) {
  #features #features-container .feature .feature-img img {
    width: 300px;
  }
  #features #features-container #feature-leaves-2 {
    left: calc(50% - 278px);
  }
  #finds {
    width: 100%;
  }
  #finds #find-container .find .find-text {
    margin-left: -41px;
  }
  #finds #find-container .find .find-text-3,
  #finds #find-container .find .find-text-4 {
    margin-left: -57px;
  }
  #finds .find-many-leaves {
    left: calc(50% - 200px);
  }
  #stock .slick-next {
    right: calc(50% - 330px);
  }
  #stock .slick-prev {
    left: calc(50% - 333px);
    z-index: 5;
  }
  #useful-features .uf-4 .useful-feature-text {
    left: calc(50% - 33px);
  }
  #useful-features .uf-6 {
    left: calc(50% - -165px);
  }
  #useful-features .uf-6 .useful-feature-text {
    left: calc(50% - 58px);
  }
  #useful-features .uf-6 .useful-feature-line {
    left: calc(50% - 137px);
  }
  #info-video {
    width: 97%;
  }
  .footer #footer-flower {
    right: calc(50% - 420px);
  }
}
/*1024 - 1449*/
@media screen and (max-width: 1199px) {
  #main #header {
    padding: 18px 0px 18px 18px;
  }
  #main #header #menu-logo a:nth-child(1) {
    margin-right: 22px;
  }
  #main #header #menu-logo a:nth-child(2) {
    margin-left: 23px;
  }
  #main #exclusive-tea-button {
    margin-left: 18px;
  }
  #features {
    max-width: 968px;
  }
  #features #features-container {
    flex-wrap: wrap;
  }
  #features #features-container #feature-leaves-2 {
    left: 0;
  }
  #finds {
    width: 968px;
  }
  #finds .find-many-leaves {
    top: 497px;
    left: 42px;
  }
  #finds #find-container {
    justify-content: center;
    width: 94%;
  }
  #finds #find-container .find-down-1 {
    margin-left: 0;
  }
  #finds #find-container .find-down {
    margin: 0;
  }
  #stock .slick-next {
    right: calc(50% - 330px);
  }
  #stock .slick-prev {
    left: calc(50% - 333px);
    z-index: 5;
  }
  #shares {
    width: 922px;
    margin: 150px auto 150px auto;
  }
  #useful-features {
    margin-bottom: 450px;
  }
  #useful-features #useful-features-big-img img {
    width: 500px;
    height: 500px;
  }
  #useful-features #useful-features-big-tea-img {
    top: calc(50% - 155px) !important;
    left: calc(50% - 191px) !important;
  }
  #useful-features #useful-features-big-tea-img img {
    width: 350px;
    height: 300px;
  }
  #useful-features .useful-feature-line {
    display: none;
  }
  #useful-features .uf-1 {
    top: calc(50% - -278px) !important;
    left: calc(50% - 425px) !important;
  }
  #useful-features .uf-1 .useful-feature-white-green-circle {
    top: calc(50% - 166px) !important;
    left: calc(50% - 212px) !important;
  }
  #useful-features .uf-1 .useful-feature-text {
    top: calc(50% - 47px) !important;
    left: calc(50% - 72px) !important;
  }
  .uf-2 {
    top: calc(50% - -269px) !important;
    left: calc(50% - -41px) !important;
  }
  .uf-2 .useful-feature-white-green-circle {
    top: -119px !important;
    left: calc(50% - 211px) !important;
  }
  .uf-2 .useful-feature-text {
    top: calc(50% - 23px) !important;
    left: calc(50% - 55px) !important;
  }
  .uf-3 {
    top: calc(50% - -374px) !important;
    left: calc(50% - 434px) !important;
  }
  .uf-3 .useful-feature-white-green-circle {
    top: calc(50% - 179px) !important;
    left: calc(50% - 204px) !important;
  }
  .uf-3 .useful-feature-text {
    top: calc(50% - 35px) !important;
    left: calc(50% - 62px) !important;
  }
  .uf-4 {
    top: calc(50% - -386px) !important;
    left: calc(50% - -43px) !important;
  }
  .uf-4 .useful-feature-white-green-circle {
    top: -125px !important;
    left: calc(50% - 212px) !important;
  }
  .uf-4 .useful-feature-text {
    top: -6px !important;
    left: calc(50% - 60px) !important;
  }
  .uf-5 {
    top: calc(50% - -495px) !important;
    left: calc(50% - 438px) !important;
  }
  .uf-5 .useful-feature-white-green-circle {
    top: -138px !important;
    left: calc(50% - 199px) !important;
  }
  .uf-5 .useful-feature-text {
    top: 6px!important;
    left: calc(50% - 59px) !important;
  }
  .uf-6 {
    top: calc(50% - -495px) !important;
    left: calc(50% - -31px) !important;
  }
  .uf-6 .useful-feature-white-green-circle {
    top: calc(50% - 177px) !important;
    left: calc(50% - 223px) !important;
  }
  .uf-6 .useful-feature-text {
    top: calc(50% - 33px) !important;
    left: calc(50% - 82px) !important;
  }
  #useful-features-leaves {
    top: 274px!important;
    right: 206px!important;
  }
  #info-video {
    width: 968px;
  }
  #info-video #info-video-big-circle {
    left: calc(50% - -117px);
  }
  #info-video #info-video-small-circle {
    left: calc(50% - -162px);
  }
  #info-video #info-video-leave {
    left: calc(50% - -262px);
  }
  #info-video #video-text {
    width: 968px;
    flex-wrap: wrap;
    justify-content: center;
  }
  #info-video #video-text #video-text-description {
    margin-top: 80px;
    margin-left: 0;
  }
  .footer #footer-flower {
    right: 120px;
  }
  .footer .footer-container {
    width: 1023px;
    flex-wrap: wrap;
  }
  .footer .footer-container #logo {
    margin-right: 75px;
    margin-left: 72px;
  }
  .footer .footer-container #footer-icons {
    margin-left: 10px;
    margin-top: -48px;
  }
  #thanks-reservation #thanks-reservation-container {
    width: 1000px;
    height: 536px;
    background-position: -27px -28px;
  }
}
/*768 - 1023*/
@media screen and (max-width: 1023px) {
  #main #header #menu-logo a:nth-child(1) {
    margin-right: 15px;
  }
  #main #header #menu-logo a:nth-child(2) {
    margin-left: 15px;
    margin-right: 15px;
  }
  #main #header #menu-logo a:nth-child(3) {
    margin-left: 15px;
    margin-right: 15px;
  }
  #main #header #menu-logo a:nth-child(4) {
    margin-left: 15px;
    margin-right: 15px;
  }
  #main #header #menu-logo a:nth-child(5) {
    margin-left: 15px;
    margin-right: 15px;
  }
  #main #header #menu-logo a:nth-child(6) {
    margin-left: 15px;
    margin-right: 15px;
  }
  #main #exclusive-tea-button #main-titles {
    font-size: 61px;
  }
  #main #exclusive-tea-button #main-titles-small {
    font-size: 38px;
  }
  #features #features-container #feature-leaves-2 {
    left: -121px;
  }
  #finds {
    width: 100%;
  }
  #finds .find-many-leaves {
    left: -74px;
  }
  #stock .slick-next {
    right: calc(50% - 330px);
  }
  #stock .slick-prev {
    left: calc(50% - 333px);
    z-index: 5;
  }
  #shares {
    width: 720px;
  }
  #shares #shares-img img {
    width: 300px;
    height: 300px;
  }
  #shares #shares-big-leave img {
    width: 227px;
  }
  #shares #shares-content .block-title {
    font-size: 43px;
  }
  #shares #shares-content .shares-text {
    font-size: 17px;
  }
  #shares #shares-content .shares-input {
    width: 370px;
  }
  #shares #shares-content .shares-btn-img button {
    width: 370px;
  }
  #shares #shares-content .shares-btn-img img {
    right: 4px;
  }
  #useful-features {
    margin-bottom: 420px;
  }
  #useful-features .useful-feature-text {
    font-size: 16px !important;
  }
  #useful-features .uf-1 {
    left: calc(50% - 354px) !important;
  }
  #useful-features .uf-3 {
    top: calc(50% - -374px) !important;
    left: calc(50% - 355px) !important;
  }
  #useful-features .uf-3 .useful-feature-text {
    width: 266px;
  }
  #useful-features .uf-3 .useful-feature-white-green-circle {
    top: calc(50% - 176px) !important;
  }
  #useful-features .uf-5 {
    top: calc(50% - -495px) !important;
    left: calc(50% - 367px) !important;
  }
  #useful-features .uf-2 {
    left: calc(50% - 1px) !important;
  }
  #useful-features .uf-4 {
    left: calc(50% - 0px) !important;
  }
  #useful-features .uf-6 {
    left: calc(50% - 5px) !important;
  }
  #useful-features .uf-6 .useful-feature-text {
    max-width: 311px;
  }
  #useful-features #useful-features-leaves {
    display: none;
  }
  #info-video {
    width: 561px;
  }
  #info-video #video-text {
    width: 561px;
  }
  #info-video #video-text #video iframe {
    width: 616px;
  }
  #info-video #info-video-big-circle {
    display: none;
  }
  #info-video #info-video-small-circle {
    display: none;
  }
  #info-video #info-video-leave {
    display: none;
  }
  .footer {
    margin-top: 160px;
  }
  .footer .footer-container {
    width: 741px;
  }
  .footer .footer-container #logo {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer .footer-container .footer-content {
    margin: 0 10px;
  }
  .footer .footer-container .footer-content:nth-child(3) {
    margin-left: 24px;
  }
  .footer .footer-container .footer-content:nth-child(4) {
    margin-left: -30px;
  }
  .footer .footer-container .footer-content .footer-text {
    font-size: 12px;
  }
  .footer .footer-container #footer-icons .footer-icon {
    margin: 0 7px;
  }
  #reservation #reservation-container {
    width: 720px;
    height: 503px;
  }
  #reservation #reservation-container #reservation-content {
    width: auto;
    margin-left: 247px;
  }
  #reservation #reservation-container #reservation-content .shares-btn-img img {
    right: 25px;
  }
  #thanks-reservation #thanks-reservation-container {
    width: 720px;
    height: 503px;
  }
  #thanks-reservation #thanks-reservation-container #thanks-reservation-content {
    width: auto;
    margin-left: 437px;
  }
}
/*425 - 767*/
@media screen and (max-width: 918px) {
  #main #header #menu-logo {
    display: flex;
    justify-content: space-between;
  }
  #main #header #menu-logo a:nth-child(1) {
    margin-right: 0;
  }
  #main #header #menu-logo a:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
  }
  #main #header #menu-logo a:nth-child(3) {
    margin-right: 0;
    margin-left: 0;
  }
  #main #header #menu-logo a:nth-child(4) {
    margin-right: 0;
    margin-left: 0;
  }
  #main #header #menu-logo a:nth-child(5) {
    margin-right: 0;
    margin-left: 0;
  }
  #main #header #menu-logo a:nth-child(6) {
    margin-right: 0;
    margin-left: 0;
  }
  #main #header #menu-logo .header-menu {
    display: none;
  }
  #main #header #menu-logo .tea-menu {
    display: block;
    margin-right: 40px;
  }
  #main #exclusive-tea-button #main-titles {
    font-size: 43px;
  }
  #main #exclusive-tea-button #main-titles-small {
    font-size: 30px;
  }
  #main #exclusive-tea-button #main-text {
    font-size: 18px;
  }
  #main #exclusive-tea-button .btn-img button {
    width: 280px;
  }
  #main #exclusive-tea-button .btn-img img {
    left: 218px;
  }
  #features #features-container #feature-leaves-2 {
    display: none;
  }
  #finds .find-many-leaves {
    display: none;
  }
  #finds .find-leave {
    display: none;
  }
  #finds .block-title {
    margin-top: 70px;
  }
  #finds #find-container {
    width: 100%;
    margin-top: 35px;
    flex-wrap: wrap;
  }
  #finds #find-container .find {
    flex-wrap: wrap;
    width: 94%!important;
    margin-left: -60px;
  }
  #finds #find-container .find .find-text {
    text-align: center;
  }
  #finds #find-container .find .find-text .find-title {
    max-width: 425px;
  }
  #finds #find-container .find .find-text .find-description {
    max-width: 310px;
    text-align: center;
  }
  #finds #find-container .find .find-text .find-description-3 {
    width: 310px;
  }
  #finds #find-container .find .find-img {
    margin: 0 auto;
  }
  #finds #find-container .find .find-text {
    margin: 0 auto;
  }
  #finds #find-container .find:nth-child(3) .find-img {
    order: 1;
  }
  #finds #find-container .find:nth-child(3) .find-text {
    order: 2;
  }
  #finds #find-container .find:nth-child(4) .find-img {
    order: 1;
  }
  #finds #find-container .find:nth-child(4) .find-text {
    order: 2;
  }
  #finds .find-leave {
    left: 304px;
  }
  .block-title {
    font-size: 41px;
  }
  #stock .slick-next {
    right: calc(50% - 202px);
  }
  #stock .slick-prev {
    left: calc(50% - 204px);
    z-index: 5;
  }
  #stock #category-container {
    max-width: 100%;
    flex-wrap: wrap;
  }
  #stock #category-container .category {
    margin: 0 15px 15px 15px;
  }
  #stock .products-container .products .product {
    width: 320px;
    display: flex;
    flex-direction: column;
  }
  #stock .products-container .products .product .product-content {
    text-align: center;
    margin-top: 10px;
  }
  #stock .products-container .products .product .product-content .product-content-description {
    margin-top: 20px;
  }
  #stock .products-container .products .product .product-content .product-content-property {
    margin-top: 10px;
  }
  #stock .products-container .products .product .product-image img {
    width: 250px;
    height: 250px;
  }
  #shares {
    width: 379px;
    display: block;
    height: 753px;
    margin: 100px auto 100px auto;
  }
  #shares #shares-many-leaves {
    display: none;
  }
  #shares #shares-img {
    text-align: center;
  }
  #shares #shares-img img {
    width: 250px;
    height: 250px;
  }
  #shares #shares-big-leave img {
    width: 187px;
    margin-left: 17px;
  }
  #shares #shares-content .block-title {
    font-size: 39px;
    margin-top: 40px;
  }
  #shares #shares-content .shares-text {
    font-size: 16px;
  }
  #shares #shares-content .shares-text-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #shares #shares-content .shares-text-2 {
    margin-bottom: 30px;
  }
  #shares #shares-content .shares-input {
    width: 300px;
    text-align: center;
  }
  #shares #shares-content .shares-btn-img button {
    width: 300px;
  }
  #shares #shares-content .shares-btn-img img {
    width: 90px;
    margin-right: -7px;
    margin-top: 5px;
  }
  #shares #shares-content #thanks-text {
    font-size: 26px;
    margin-top: 60px;
  }
  #useful-features {
    margin-bottom: 830px;
  }
  #useful-features .block-title {
    margin-bottom: 30px;
  }
  #useful-features .useful-feature-text {
    font-size: 18px;
  }
  #useful-features #useful-features-big-img {
    top: calc(50% - 132px) !important;
    margin: 0 auto;
  }
  #useful-features #useful-features-big-img img {
    width: 60%;
    height: 100%;
  }
  #useful-features #useful-features-big-tea-img {
    top: calc(50% - 132px) !important;
    left: calc(50% - 232px) !important;
  }
  #useful-features #useful-features-big-tea-img img {
    width: 70%;
    height: 70%;
  }
  #useful-features .uf-1 {
    left: calc(50% - 159px) !important;
  }
  #useful-features .uf-2 {
    left: calc(50% - 148px) !important;
    top: calc(50% - -380px) !important;
  }
  #useful-features .uf-2 .useful-feature-text {
    width: 248px;
    left: calc(50% - 67px) !important;
  }
  #useful-features .uf-3 {
    top: calc(50% - -481px) !important;
    left: calc(50% - 161px) !important;
  }
  #useful-features .uf-4 {
    left: calc(50% - 159px) !important;
    top: calc(50% - -607px) !important;
  }
  #useful-features .uf-4 .useful-feature-text {
    left: calc(50% - 72px) !important;
  }
  #useful-features .uf-5 {
    top: calc(50% - -706px) !important;
    left: calc(50% - 172px) !important;
  }
  #useful-features .uf-6 {
    left: calc(50% - 147px) !important;
    top: calc(50% - -817px) !important;
  }
  #useful-features .uf-6 .useful-feature-text {
    top: calc(50% - 18px) !important;
    width: 274px;
  }
  #info-video {
    width: 100%;
  }
  #info-video .block-title {
    width: 100%;
    flex-wrap: wrap;
  }
  #info-video #video-text {
    width: 100%;
    text-align: center;
  }
  #info-video #video-text #video iframe {
    width: 600px;
    height: 400px;
  }
  #info-video #video-text #video-text-description {
    margin-top: 50px;
  }
  #info-video #video-text #video-text-description .info-video-text {
    width: 400px;
    text-align: left;
    margin: 50px auto;
  }
  .footer {
    margin-top: 170px;
  }
  .footer #footer-flower {
    right: 15px;
  }
  .footer .footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer .footer-container #logo {
    margin: 0 auto;
  }
  .footer .footer-container #footer-icons {
    margin: 38px auto 0 calc(50% - 91px);
  }
  .footer .footer-container #footer-icons .footer-icon {
    margin: 0 10px;
  }
  .footer .footer-container .footer-content {
    display: none;
  }
  #reservation #reservation-container {
    width: 90%;
    height: 503px;
  }
  #reservation #reservation-container .fill-line {
    width: 100%;
    margin-left: 0px;
  }
  #reservation #reservation-container #reservation-cancel {
    top: 25px;
    right: 25px;
  }
  #reservation #reservation-container #reservation-content {
    width: auto;
    margin-left: calc(50% - 48px);
  }
  #reservation #reservation-container #reservation-content .block-title {
    padding-top: 0;
    margin-bottom: 8px;
    margin-top: 12px;
  }
  #reservation #reservation-container #reservation-content .reserve-input {
    padding: 5px 16px 2px 10px;
    text-align: center;
    height: 80px;
  }
  #reservation #reservation-container #reservation-content #reserve-input-up {
    flex-direction: column;
  }
  #reservation #reservation-container #reservation-content #reserve-input-up .reserve-input-2 input {
    width: 260px;
  }
  #reservation #reservation-container #reservation-content #reserve-input-down {
    flex-direction: column;
  }
  #reservation #reservation-container #reservation-content #reserve-input-down .reserve-input-3 input {
    width: 260px;
  }
  #reservation #reservation-container #reservation-content #reserve-input-down .reserve-input-4 input {
    width: 260px;
  }
  #reservation #reservation-container #reservation-content .shares-btn-img {
    padding-top: 10px;
  }
  #reservation #reservation-container #reservation-content .shares-btn-img img {
    right: 42px;
    top: 1px;
    width: 89px;
  }
  #thanks-reservation #thanks-reservation-container {
    width: 90%;
    height: 503px;
    background-position: -99px -28px;
  }
  #thanks-reservation #thanks-reservation-container #thanks-reservation-content {
    width: auto;
    margin-left: 43px;
    margin-top: 13px;
  }
  #thanks-reservation #thanks-reservation-container #thanks-reservation-content #thanks-reservation-text {
    margin-top: 10px;
  }
}
@media screen and (max-width: 700px) {
  #info-video #video-text #video iframe {
    width: 450px;
    height: 400px;
  }
}
@media screen and (max-width: 673px) {
  #finds #find-container .find {
    margin-left: 0;
  }
}
@media screen and (max-width: 500px) {
  #info-video #video-text #video iframe {
    width: 400px;
    height: 350px;
  }
}
/*375 - 424*/
@media screen and (max-width: 424px) {
  #main #exclusive-tea-button #main-titles {
    font-size: 41px;
  }
  #main #exclusive-tea-button #main-titles-small {
    font-size: 32px;
  }
  #main #exclusive-tea-button #main-text {
    font-size: 18px;
    max-width: 300px;
  }
  #main #exclusive-tea-button .btn-img button {
    width: 280px;
  }
  #main #exclusive-tea-button .btn-img img {
    left: 223px;
  }
  .block-title {
    font-size: 41px;
  }
  #features {
    width: 100%;
  }
  #features #features-container {
    width: 100%;
  }
  #features #features-container #feature-leaves-1 {
    display: none;
  }
  #finds .find-leave {
    display: none;
  }
  #finds .block-title {
    margin-top: 70px;
  }
  #finds #find-container {
    width: 100%;
    margin-top: 35px;
    flex-wrap: wrap;
  }
  #finds #find-container .find {
    text-align: center;
    width: 375px;
    flex-wrap: wrap;
  }
  #finds #find-container .find .find-img {
    margin: 0 auto;
  }
  #finds #find-container .find .find-text {
    margin: 0 auto;
  }
  #finds #find-container .find:nth-child(3) .find-img {
    order: 1;
  }
  #finds #find-container .find:nth-child(3) .find-text {
    order: 2;
  }
  #finds #find-container .find:nth-child(4) .find-img {
    order: 1;
  }
  #finds #find-container .find:nth-child(4) .find-text {
    order: 2;
  }
  #finds .find-leave {
    left: 304px;
  }
  #stock .slick-prev {
    left: 22px;
  }
  #stock .slick-next {
    right: 25px;
  }
  #stock #category-container {
    max-width: 100%;
    flex-wrap: wrap;
  }
  #stock #category-container .category {
    margin: 0 15px 15px 15px;
  }
  #stock .products-container .products .product {
    width: 290px;
  }
  #stock .products-container .products .product .product-image img {
    width: 250px;
    height: 250px;
  }
  #shares {
    width: 86%;
    display: block;
    height: 753px;
  }
  #shares #shares-many-leaves {
    display: none;
  }
  #shares #shares-img {
    text-align: center;
  }
  #shares #shares-img img {
    width: 250px;
    height: 250px;
  }
  #shares #shares-big-leave img {
    width: 204px;
    margin-left: 12px;
  }
  #shares #shares-content .block-title {
    font-size: 39px;
    margin-top: 40px;
  }
  #shares #shares-content .shares-text {
    font-size: 16px;
  }
  #shares #shares-content .shares-text-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #shares #shares-content .shares-text-2 {
    margin-bottom: 30px;
  }
  #shares #shares-content .shares-input {
    width: 300px;
    text-align: center;
  }
  #shares #shares-content .shares-btn-img button {
    width: 300px;
  }
  #shares #shares-content .shares-btn-img img {
    width: 90px;
    margin-right: -7px;
    margin-top: 5px;
  }
  #shares #shares-content #thanks-text {
    font-size: 24px;
  }
  #useful-features {
    margin-bottom: 780px;
  }
  #useful-features .useful-feature-text {
    font-size: 18px;
  }
  #useful-features #useful-features-big-img {
    margin: 0 auto;
  }
  #useful-features #useful-features-big-img img {
    width: 100%;
    height: 100%;
  }
  #useful-features #useful-features-big-tea-img {
    top: calc(50% - 136px) !important;
    left: calc(50% - 232px) !important;
  }
  #useful-features #useful-features-big-tea-img img {
    width: 70%;
    height: 70%;
  }
  #useful-features .uf-1 {
    left: calc(50% - 159px) !important;
  }
  #useful-features .uf-2 {
    left: calc(50% - 148px) !important;
    top: calc(50% - -380px) !important;
  }
  #useful-features .uf-2 .useful-feature-text {
    width: 248px;
    left: calc(50% - 67px) !important;
  }
  #useful-features .uf-3 {
    top: calc(50% - -481px) !important;
    left: calc(50% - 161px) !important;
  }
  #useful-features .uf-4 {
    left: calc(50% - 159px) !important;
    top: calc(50% - -607px) !important;
  }
  #useful-features .uf-4 .useful-feature-text {
    left: calc(50% - 72px) !important;
  }
  #useful-features .uf-5 {
    top: calc(50% - -706px) !important;
    left: calc(50% - 172px) !important;
  }
  #useful-features .uf-6 {
    left: calc(50% - 147px) !important;
    top: calc(50% - -817px) !important;
  }
  #useful-features .uf-6 .useful-feature-text {
    top: calc(50% - 18px) !important;
    width: 274px;
  }
  #info-video {
    width: 100%;
  }
  #info-video .block-title {
    width: 100%;
    flex-wrap: wrap;
  }
  #info-video #video-text {
    width: 100%;
  }
  #info-video #video-text #video iframe {
    width: 330px;
    height: 300px;
  }
  #info-video #video-text #video-text-description .info-video-text {
    width: 328px;
    text-align: left;
    margin: 50px auto;
  }
  .footer #footer-flower {
    right: 107px;
  }
  .footer .footer-container {
    width: 375px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer .footer-container #logo {
    margin: 0 auto;
  }
  .footer .footer-container #footer-icons {
    margin: 38px auto 0px 97px;
  }
  .footer .footer-container #footer-icons .footer-icon {
    margin: 0 10px;
  }
  .footer .footer-container .footer-content {
    display: none;
  }
  #reservation {
    width: 100%;
  }
  #reservation #reservation-container {
    width: 90%;
  }
  #reservation #reservation-container .fill-line {
    margin-top: 2px;
  }
  #reservation #reservation-container #reservation-cancel {
    top: 19px;
    right: 25px;
  }
  #reservation #reservation-container #reservation-content {
    width: 90%;
    margin: 0 auto;
  }
  #reservation #reservation-container #reservation-content .block-title {
    font-size: 37px;
    margin-bottom: 8px;
    padding-top: 39px;
    margin-top: 0;
  }
  #reservation #reservation-container #reservation-content .reserve-input {
    margin: 0 auto;
    padding: 3px 16px;
    height: 77px;
  }
  #reservation #reservation-container #reservation-content #reserve #reserve-input-up {
    flex-direction: column;
  }
  #reservation #reservation-container #reservation-content #reserve #reserve-input-up .reserve-input-2 input {
    width: 260px;
  }
  #reservation #reservation-container #reservation-content #reserve #reserve-input-down {
    flex-direction: column;
  }
  #reservation #reservation-container #reservation-content #reserve #reserve-input-down .reserve-input-3 input {
    width: 260px;
  }
  #reservation #reservation-container #reservation-content #reserve #reserve-input-down .reserve-input-4 input {
    width: 260px;
  }
  #reservation #reservation-container #reservation-content #reserve .shares-btn-img {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  #reservation #reservation-container #reservation-content #reserve .shares-btn-img button {
    width: 260px;
    height: 60px;
  }
  #reservation #reservation-container #reservation-content #reserve .shares-btn-img img {
    display: none;
  }
  #thanks-reservation #thanks-reservation-container {
    width: 90%;
    height: 503px;
    background-position: -93px -28px;
  }
  #thanks-reservation #thanks-reservation-container #thanks-reservation-content {
    width: auto;
    margin-left: 43px;
    margin-top: 13px;
  }
  #thanks-reservation #thanks-reservation-container #thanks-reservation-content #thanks-reservation-text {
    margin-top: 10px;
  }
}
/*320 - 374*/
@media screen and (max-width: 374px) {
  #main #exclusive-tea-button #main-titles {
    font-size: 35px;
  }
  #main #exclusive-tea-button #main-titles-small {
    font-size: 23px;
  }
  #main #exclusive-tea-button #main-text {
    font-size: 16px;
    max-width: 300px;
  }
  #main #exclusive-tea-button .btn-img button {
    width: 280px;
  }
  #main #exclusive-tea-button .btn-img img {
    width: 89px;
    left: 209px;
    top: -10px;
  }
  .block-title {
    font-size: 35px;
  }
  #features {
    width: 100%;
    padding-top: 80px;
  }
  #features #features-container .feature .feature-img img {
    width: 100%;
  }
  #features #features-container #feature-leaves-1 {
    display: none;
  }
  #finds .find-leave {
    display: none;
  }
  #finds .block-title {
    margin-top: 50px;
  }
  #finds #find-container {
    width: 100%;
    margin-top: 35px;
    flex-wrap: wrap;
  }
  #finds #find-container .find {
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
  }
  #finds #find-container .find .find-img {
    margin: 0 auto;
  }
  #finds #find-container .find .find-img img {
    width: 100%;
  }
  #finds #find-container .find .find-text {
    margin: 0 auto;
  }
  #finds #find-container .find .find-text .find-title {
    max-width: 100%;
    font-size: 20px;
  }
  #finds #find-container .find .find-text .find-description {
    font-size: 15px;
    max-width: 300px;
  }
  #finds #find-container .find:nth-child(3) .find-img {
    order: 1;
  }
  #finds #find-container .find:nth-child(3) .find-text {
    order: 2;
  }
  #finds #find-container .find:nth-child(4) .find-img {
    order: 1;
  }
  #finds #find-container .find:nth-child(4) .find-text {
    order: 2;
  }
  #finds .find-leave {
    left: 304px;
  }
  #stock .slick-prev {
    left: 2px;
  }
  #stock .slick-next {
    right: 5px;
  }
  #stock #category-container {
    max-width: 100%;
    flex-wrap: wrap;
  }
  #stock #category-container .category {
    margin: 0 15px 15px 15px;
  }
  #stock .products-container .products .product {
    width: 260px;
  }
  #stock .products-container .products .product .product-image img {
    width: 250px;
    height: 250px;
  }
  #shares {
    width: 300px;
    display: block;
    height: 753px;
    margin: 100px auto 70px auto;
  }
  #shares #shares-many-leaves {
    display: none;
  }
  #shares #shares-img {
    text-align: center;
  }
  #shares #shares-img img {
    width: 250px;
    height: 250px;
  }
  #shares #shares-big-leave img {
    width: 162px;
    margin-left: 13px;
  }
  #shares #shares-content .block-title {
    font-size: 39px;
    margin-top: 40px;
  }
  #shares #shares-content .shares-text {
    font-size: 16px;
  }
  #shares #shares-content .shares-text-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #shares #shares-content .shares-text-2 {
    margin-bottom: 30px;
  }
  #shares #shares-content .shares-input {
    width: 280px;
    text-align: center;
  }
  #shares #shares-content .shares-btn-img button {
    width: 280px;
  }
  #shares #shares-content .shares-btn-img img {
    display: none;
  }
  #shares #shares-content #thanks-text {
    font-size: 23px;
    margin-top: 100px;
  }
  #useful-features {
    margin-bottom: 830px;
  }
  #useful-features .useful-feature-text {
    font-size: 15px;
    max-width: 234px;
  }
  #useful-features #useful-features-big-img img {
    width: 100%;
    height: 100%;
  }
  #useful-features #useful-features-big-tea-img {
    top: calc(50% - 106px) !important;
    left: calc(50% - 184px) !important;
  }
  #useful-features #useful-features-big-tea-img img {
    width: 65%;
  }
  #useful-features .uf-1 {
    left: calc(50% - 120px) !important;
  }
  #useful-features .uf-1 .useful-feature-text {
    left: calc(50% - 82px) !important;
  }
  #useful-features .uf-2 {
    left: calc(50% - 121px) !important;
    top: calc(50% - -380px) !important;
  }
  #useful-features .uf-2 .useful-feature-text {
    width: 248px;
    left: calc(50% - 81px) !important;
  }
  #useful-features .uf-3 {
    top: calc(50% - -481px) !important;
    left: calc(50% - 128px) !important;
  }
  #useful-features .uf-3 .useful-feature-text {
    left: calc(50% - 74px) !important;
  }
  #useful-features .uf-4 {
    left: calc(50% - 120px) !important;
    top: calc(50% - -607px) !important;
  }
  #useful-features .uf-4 .useful-feature-text {
    left: calc(50% - 82px) !important;
  }
  #useful-features .uf-5 {
    top: calc(50% - -706px) !important;
    left: calc(50% - 133px) !important;
  }
  #useful-features .uf-5 .useful-feature-text {
    top: 19px!important;
    left: calc(50% - 68px) !important;
  }
  #useful-features .uf-6 {
    left: calc(50% - 116px) !important;
    top: calc(50% - -817px) !important;
  }
  #useful-features .uf-6 .useful-feature-text {
    top: calc(50% - -4px) !important;
    left: calc(50% - 96px) !important;
    max-width: 247px;
  }
  #info-video {
    width: 100%;
  }
  #info-video .block-title {
    width: 100%;
    flex-wrap: wrap;
  }
  #info-video #video-text {
    width: 100%;
  }
  #info-video #video-text #video iframe {
    width: 290px;
    height: 280px;
  }
  #info-video #video-text #video-text-description .info-video-text {
    width: 290px;
    text-align: left;
    margin: 50px auto;
  }
  #info-video #video-text #video-text-description .info-video-text-3 {
    margin-top: 73px;
  }
  .footer {
    margin-top: 200px;
  }
  .footer #footer-flower {
    right: 54px;
  }
  .footer .footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer .footer-container #logo {
    margin: 0 auto;
  }
  .footer .footer-container #footer-icons {
    margin: 38px auto 0px calc(50% - 91px);
  }
  .footer .footer-container #footer-icons .footer-icon {
    margin: 0 10px;
  }
  .footer .footer-container .footer-content {
    display: none;
  }
  #reservation {
    width: 100%;
  }
  #reservation #reservation-container {
    width: 90%;
  }
  #reservation #reservation-container .fill-line {
    margin-top: 2px;
  }
  #reservation #reservation-container #reservation-cancel {
    top: 20px;
    right: 25px;
  }
  #reservation #reservation-container #reservation-cancel img {
    width: 15px;
    height: 15px;
  }
  #reservation #reservation-container #reservation-content {
    width: auto;
    margin: 0 auto;
  }
  #reservation #reservation-container #reservation-content .block-title {
    padding-top: 0px;
    font-size: 37px;
    width: 88%;
  }
  #reservation #reservation-container #reservation-content .reserve-input {
    margin: 0 auto;
    padding: 4px 16px;
    height: 70px;
  }
  #reservation #reservation-container #reservation-content #reserve #reserve-input-up {
    flex-direction: column;
  }
  #reservation #reservation-container #reservation-content #reserve #reserve-input-up .reserve-input-1 input {
    width: 230px;
  }
  #reservation #reservation-container #reservation-content #reserve #reserve-input-up .reserve-input-2 input {
    width: 230px;
  }
  #reservation #reservation-container #reservation-content #reserve #reserve-input-down {
    flex-direction: column;
  }
  #reservation #reservation-container #reservation-content #reserve #reserve-input-down .reserve-input-3 input {
    width: 230px;
  }
  #reservation #reservation-container #reservation-content #reserve #reserve-input-down .reserve-input-4 input {
    width: 230px;
  }
  #reservation #reservation-container #reservation-content #reserve .shares-btn-img {
    padding-top: 16px;
    padding-bottom: 30px;
  }
  #reservation #reservation-container #reservation-content #reserve .shares-btn-img button {
    width: 235px;
    height: 60px;
  }
  #reservation #reservation-container #reservation-content #reserve .shares-btn-img img {
    display: none;
  }
  #thanks-reservation #thanks-reservation-container {
    width: 90%;
    height: 503px;
    background-position: -111px -28px;
  }
  #thanks-reservation #thanks-reservation-container #thanks-reservation-content {
    width: auto;
    margin-left: 24px;
    margin-top: 13px;
  }
  #thanks-reservation #thanks-reservation-container #thanks-reservation-content #thanks-reservation-text {
    margin-top: 10px;
  }
}
@media screen and (max-width: 855px) {
  #reservation #reservation-container #reservation-content {
    margin-left: 0;
  }
  #reservation #reservation-container #reservation-content .shares-btn-img button {
    width: 290px;
    height: 61px;
  }
  #reservation #reservation-container #reservation-content .shares-btn-img img {
    right: calc(50% - 174px);
    top: 1px;
    width: 82px;
  }
}
